* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: PT Sans;
  color: #0B1942;
}

img {
  max-width: 100%;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
}

nav {
  display: flex;
  width: 100%;
  background-color: #7DDFE8;
}

.nav-links {
  display: flex;
  justify-content: flex-start;
  width: 90%;
}

nav a {
  text-decoration: none;
  color: #FFFFFF;
}

.logo-container {
  background-color: #F5005B;
  width: 10%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px;
}

.logo {
  background-image: url(../images/filmclub.png);
  background-size: cover;
  width: 100%;
}

.home {
  width: 10%;
  padding: 50px 0;
  text-align: center;
  background-color: #00A5BF;
}

.calendar {
  width: 10%;
  padding: 50px 0;
  text-align: center;
  background-color: #00B7D3;
}

.join {
  width: 10%;
  padding: 50px 0;
  text-align: center;
  background-color: #00D5E7;
}
/********************Home page styling******************************/
.get-involved {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.get-involved h1 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 100;
}

.opportunities {
  display: flex;
  justify-content: space-between;
}

.opportunity {
  width: 31%;
}

.opportunity h2 {
  background-color: #0B1942;
  color: #FFFFFF;
  padding: 2px 10px;
  margin-bottom: 20px;
  font-weight: 100;
}

.opportunity p {
  font-size: 18px;
}

.up-next {
  background-color: #0B1942;
  padding: 10px 10px 30px 10px;
  display: flex;
  flex-direction: column;
}

.up-next h2 {
  color: #FFFFFF;
  font-weight: 100;
  padding: 10px 20px;
  font-size: 30px;
  width: 100%;
}

.movies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.featured {
  width: 48%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #E2E2E2;
  height: 50%;
}

.featured-poster {
  width: 47%;
}

.featured-info {
  width: 47%;
}

.featured-title {
  width: 100%;
  border-bottom: 2px solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 5px 0 15px 0;
}

.featured-title h2 {
  width: 100%;
  padding: 0;
  padding-bottom: 5px;
}

.featured-title h2 a {
  color: #00B7D3;
  font-size: 30px;
}

.featured-title p {
  font-size: 18px;
}

.date {
  font-weight: bold;
}

.featured-discussion {
  padding: 0;
}

.featured-discussion h4 {
  padding: 20px 0 10px 0;
  font-size: 18px;
}

.featured-discussion ul {
  padding-left: 20px;
  list-style-type: circle;
  font-size: 18px;
}

.featured-discussion li {
  margin: 3px 0;
}

.other-movies {
  background-color: #E2E2E2;
  width: 48%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
}

.movie {
  width: 48%;
  margin-bottom: 20px;
}

.movie-title {
  font-size: 18px;
}

.movie-title a {
  color: #00B7D3;
  font-weight: bold;
}

.copyright {
  width: 20%;
  text-align: right;
  padding: 50px 10px;
}

.copyright p {
  color: #FFFFFF;
}
/***********************Calendar page styling*********************/

.heading {
  padding: 20px 15px;
}

.heading h1 {
  font-weight: 100;
  font-size: 35px;
}

.calendar-layout {
  background-color: #0B1942;
}

.month h2 {
  color: #FFFFFF;
  font-weight: 100;
  padding: 20px 15px;
  font-size: 30px;
}

.days {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 85vh;
  padding-bottom: 30px;
}

.day {
  width: 14.28%;
  height: 20%;
  border: 1px solid black;
  background-color: white;
}

.number {
  width: 20%;
  padding: 5px;
  background-color: #0B1942;
  color: white;
  text-align: center;
}

.highlight {
  background-color: #F5005B;
}

/*************************Join page styling*************************/

fieldset h1 {
  margin: 15px;
  font-weight: 100;
}
.form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15px;
}

.profile-picture {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 15px;
}

.profile-picture label {
  font-size: 18px;
}

.profile-picture input {
  font-size: 16px;
}

.profile-placeholder img {
  border-radius: 100%;
  margin: 30px 0 20px 0;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 63%;
  height: 50%;
}

.input-container {
  width: 48%;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  font-size: 18px;
}

.input-container input {
  padding: 5px 0;
}

.interests {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.interests legend {
  margin-bottom: 15px;
}

.genre-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.interests label {
  width: 30%;
  padding: 5px 0;
}

.additional {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.textarea {
  width: 75%;
  height: 7vh;
  padding: 0;
}

.button {
  background-color: #F5005B;
  color: white;
  padding: 20px 15px;
  border: none;
  font-size: 16px;
  font-weight: 100;
  margin: 30px 0;
}

/********************Medium size styling**************************/

@media screen and (max-width: 768px) {

  .container {
    width: 100%;
    }

  .logo-container {
    width: 16%;
  }

  .home {
    width: 16%;
  }

  .calendar {
    width: 16%;
  }

  .join {
    width: 16%;
  }

  .copyright {
    width: 52%;
  }

  .movies {
    flex-direction: column;
  }

  .featured {
    width: 100%;
    margin-bottom: 15px;
  }

  .other-movies {
    flex-wrap: nowrap;
    width: 100%;
  }

  .movie {
    width: 23%;
  }

  .interests label {
    width: 48%;
  }

  .textarea {
    width: 100%;
  }

  .profile-picture {
    width: 48%;
  }

  .contact {
    flex-direction: column;
    width: 48%;
  }

  #name-input {
    order: 1;
  }

  #email-input {
    order: 2;
    margin-bottom: 50px;
  }

  #password-input {
    order: 3;
  }

  #confirm-input {
    order: 4;
  }

  .days {
    height: 60vh;
  }

  .number {
    width: 27%;
  }
}

/**********************Small size styling*******************************/

@media screen and (max-width: 544px) {
  .logo-container {
    width: 33%;
  }

  .nav {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .home {
    width: 100%;
    padding: 15px 0;
  }

  .calendar {
    width: 100%;
    padding: 15px 0;
  }

  .join {
    width: 100%;
    padding: 15px 0;
  }

  .opportunities {
    flex-direction: column;
  }

  .opportunity {
    width: 100%;
    margin-bottom: 20px;
  }

  .other-movies {
    flex-wrap: wrap;
  }

  .movie {
    width: 48%;
  }

  .days {
    height: 45vh;
  }

  .number {
    width: 50%;
  }

  .profile-picture {
    width: 100%;
  }

  .contact {
    width: 100%;
  }

  .input-container {
    width: 100%;
  }

  .input-container input {
    width: 100%;
  }

  .interests label {
    width: 100%;
  }

  .nav-links {
    width: 77%;
    display: flex;
    flex-direction: column;
  }

  footer nav {
    flex-direction: column;
  }

  footer .nav-links {
    width: 100%;
  }

  .copyright {
    width: 100%;
    text-align: center;
    padding: 30px 0;
  }
}
